* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #faf5ff;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 700px) {
  div.post {
    grid-template-columns: 1fr 1.5fr;
  }
}
